<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="DataGridTextBoxColumn1.HeaderText" value="Org ID" />
    <add key="DataGridTextBoxColumn1.MappingName" value="OrgID" />
    <add key="DataGridTextBoxColumn10.HeaderText" value="State/Prov" />
    <add key="DataGridTextBoxColumn10.MappingName" value="State" />
    <add key="DataGridTextBoxColumn11.HeaderText" value="Zip/Postal Code" />
    <add key="DataGridTextBoxColumn11.MappingName" value="Zip" />
    <add key="DataGridTextBoxColumn2.HeaderText" value="Rpts" />
    <add key="DataGridTextBoxColumn2.MappingName" value="ReportsNumSaved" />
    <add key="DataGridTextBoxColumn3.HeaderText" value="First Name" />
    <add key="DataGridTextBoxColumn3.MappingName" value="FirstName" />
    <add key="DataGridTextBoxColumn4.HeaderText" value="Last Name" />
    <add key="DataGridTextBoxColumn4.MappingName" value="LastName" />
    <add key="DataGridTextBoxColumn5.HeaderText" value="Physician" />
    <add key="DataGridTextBoxColumn5.MappingName" value="Physican" />
    <add key="DataGridTextBoxColumn6.HeaderText" value="Comments" />
    <add key="DataGridTextBoxColumn6.MappingName" value="Comments" />
    <add key="DataGridTextBoxColumn7.HeaderText" value="Start Date" />
    <add key="DataGridTextBoxColumn7.MappingName" value="StartDate" />
    <add key="DataGridTextBoxColumn8.HeaderText" value="Address" />
    <add key="DataGridTextBoxColumn8.MappingName" value="Address" />
    <add key="DataGridTextBoxColumn9.HeaderText" value="City" />
    <add key="DataGridTextBoxColumn9.MappingName" value="City" />
  </appSettings>
</configuration>